* {
    font-family: "Montserrat Alternates", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

header {
    margin: 44px 0 144px 76px;

}

.l-header {

    font-size: 24px;
    font-weight: 600;
    line-height: 29.26px;
    color: #989D9C;
    cursor: pointer;
    margin-right: 23px;
    
}

.one-button {
    background: #665AE1;
    border-radius: 20.5px;
    border: none;
    width: 130px;
    height: 41px;

    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    color: white;
    cursor: pointer;

}


.img-logo {
    width: 568px;
    height: 500px;
    margin-left: 125px;
    display: inline-block;

}
section{
    display: inline-block;
    margin-left: 86px;

}
 

h1 {

    font-size: 100px;
    font-weight: 900;
    line-height: 122px;
    color: #515151;
}

h2 {

    font-size: 58px;
    font-weight: 500;
    line-height: 71px;
    color: #515151;

}

p {

    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    color: #848484;
    width: 515px;
    margin-top: 32px;
    margin-bottom: 65px;
}

.two-button {

    background: #ADFF00;
    border-radius: 30px;
    border: none;
    width: 239px;
    height: 64px;

    font-family: Montserrat;
    font-size: 28px;
    font-weight: 700;
    line-height: 34.13px;
    cursor: pointer;


}